<script src="~/assets/js/pages/testing/index.js"></script>

<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4" />
      <div class="col-md-4">
        <h2>Pruebas</h2>
      </div>
      <div class="col-md-4" />
    </div>
    <div class="row">
      <el-button type="primary" @click="storeHandler">Nuevo</el-button>
    </div>
    <div v-if="itemList.length > 0" class="row">
      <div class="col-md-1" />
      <div class="col-md-10">
        <el-table :data="itemList" style="width: 100%;" border stripe>
          <el-table-column prop="item_name" label="Artículo" ></el-table-column>
          <el-table-column prop="item_description" label="Descripción" ></el-table-column>
          <el-table-column prop="item_price" label="Precio" ></el-table-column>
          <el-table-column prop="Brand.brand_name" label="Marca" ></el-table-column>
          <el-table-column label="Acciones">
            <template slot-scope="scope">
              <el-button type="primary" :id="scope.row.date" @click="handlerUpdate(scope.row)">Actualizar</el-button>
              <el-button type="danger" class="mt-2" :id="scope.row.date" @click="handlerDelete(scope.row)">Eliminar</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="col-md-1"/>
    </div>
    <!-- Store -->
    <el-dialog
      title="Store"
      :visible.sync="storeDialog"
      width="60%"
    >
      <span>
        <div class="row">
          <div class="col-md-6">
            <label for="name">Nombre del artículo</label>
            <el-input v-model="item.item_name"></el-input>
          </div>
          <div class="col-md-6">
            <label for="description">Descripción del artículo</label>
            <el-input v-model="item.item_description"></el-input>
          </div>
          <div class="col-md-6">
            <label for="price">Precio del artículo</label>
            <el-input v-model="item.item_price"></el-input>
          </div>
          <div class="col-md-6" />
          <div class="col-md-6">
            <label for="brand">Marca del artículo</label>
            <br>
            <el-select v-model="item.brand_id" placeholder="Marca del artículo" size="large">
              <el-option
                v-for="(brand, index) in brandList"
                :key="index"
                :value="brand.brand_id"
                :label="brand.brand_name">
                </el-option>
            </el-select>
          </div>
          <div class="col-md-6">
            <label for="subcategory">Subcategoria</label>
            <br>
            <el-select v-model="item.subcategory_id" placeholder="Subcategoria del artículo">
              <el-option
                v-for="(subcategory, index) in subcategoryList"
                :key="index"
                :value="subcategory.subcategory_id"
                :label="subcategory.subcategory_name">
              </el-option>
            </el-select>
          </div>
        </div>
      </span>
      <span slot="footer">
        <el-button @click="storeDialog = false">Cancelar</el-button>
        <el-button type="primary" @click="storeItem">Guardar</el-button>
      </span>
    </el-dialog>
    <!-- Update -->
    <el-dialog
      title="Update"
      :visible.sync="updateDialog"
      width="60%"
    >
      <span>
        <label for="name">Nombre del artículo</label>
        <el-input v-model="item.item_name"></el-input>
        <label for="name">Descripción del artículo</label>
        <el-input v-model="item.item_description"></el-input>
        <label for="name">Precio del artículo</label>
        <el-input v-model="item.item_price"></el-input>
        <label for="name">Marca del artículo</label>
        <el-select v-model="item.brand_id" placeholder="Marca del artículo">
          <el-option
            v-for="(brand, index) in brandList"
            :key="index"
            :value="brand.brand_id"
            :label="brand.brand_name">
          </el-option>
        </el-select>
        <br>
        <br>
        <label for="subcategory">Subcategoria</label>
        <el-select v-model="item.subcategory_id" placeholder="Marca del artículo">
          <el-option
            v-for="(subcategory, index) in subcategoryList"
            :key="index"
            :value="subcategory.subcategory_id"
            :label="subcategory.subcategory_name">
          </el-option>
        </el-select>
      </span>
      <span slot="footer">
        <el-button @click="updateDialog = false">Cancelar</el-button>
        <el-button type="primary" @click="updateItem">Guardar</el-button>
      </span>
    </el-dialog>
    <!-- Delete -->
    <el-dialog
      title="Delete"
      :visible.sync="deleteDialog"
      width="60%"
    >
      <span>
        <h2>¿Desea eliminar el articulo?</h2>
      </span>
      <span slot="footer">
        <el-button @click="deleteDialog = false">Cancelar</el-button>
        <el-button type="danger" @click="deleteItem">Eliminar</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<style lang="css">
  .container{
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
</style>
